// MEDIA QUERIES

@mixin bp($point) {
  
  $small: "(max-width: 800px)";
  $med: "(max-width: 1032px)";
  $large: "(max-width: 1600px)";
  $xl: "(max-width: 2000px)";

  @if $point == xl {
    @media #{$xl} { @content; }
  }
  @else if $point == large {
    @media #{$large} { @content; }
  }
  @else if $point == med {
    @media #{$med} { @content; }
  }
  @else if $point == small {
    @media #{$small}  { @content; }
  }

}